.spacePage {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 15px;
    font-weight: normal;
    flex: 1;
  }
}

.space {
  flex: 1;
  overflow-y: auto;
  padding-top: 15px;
  & > * {
    margin-bottom: 15px;
  }

  .statusLabel {
    color: var(--grey);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  .message,
  .file {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    border-left: 2px solid var(--primary);
    overflow: hidden;

    &.remote {
      border-left-color: var(--green);
    }
  }

  .file {
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    background: color-mix(in srgb, var(--primary), transparent 75%);

    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5%;
      height: 100%;
      background: var(--primary);
      z-index: -1;
    }

    &.remote {
      border-color: var(--green);
      background: color-mix(in srgb, var(--green), transparent 75%);

      &:before {
        background: var(--green);
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;

  button {
    flex: 1;
  }
}

.iconButton {
  padding: 15px;
  cursor: pointer;
  border-radius: var(--radius);
  &:hover {
    background: color-mix(in srgb, var(--primary), transparent 75%);
  }
}
