.spacePage {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 15px;
    font-weight: normal;
    flex: 1;
  }
}

.space {
  flex: 1;
  overflow-y: auto;
  padding-top: 15px;
  & > * {
    margin-bottom: 15px;
  }

  .statusLabel {
    color: var(--grey);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  .message,
  .file {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    border-left: 2px solid var(--green);
    overflow: hidden;

    &.self {
      border-left-color: var(--primary);
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;

  button {
    flex: 1;
  }
}
