.emojiList {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  span {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 5px;

    &:hover {
      background-color: var(--primary);
      border-radius: var(--radius);
    }
  }
}

.form input {
  font-size: 20px;
  text-align: center;
}
